body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: rgb(36, 36, 36);
    color: #fff;
}

.half-container {
    padding: 2% 12%;
}

/* Header */
.logo {
    font-size: 1.5rem;
}

.social ul li {
    list-style: none;
    margin: 5px;
}

.social2 ul li {
    list-style: none;
    margin: 5px;
}

.social ul li a {
    color: #fff;
}

.social2 ul li a {
    color: #fff;
}

.header {
    border-bottom: 2.6px solid #5c5c5c;
}

.header-textbox {
    padding: 12% 0;
}

.textbox-intro {
    padding-top: 42px;
}

.textbox-intro h1 {
    font-size: 2.8rem;
}

a {
    text-decoration: none;
    color: #fff;
}

.description {
    width: 24rem;
    font-size: 0.85rem;
    margin-bottom: 28px;
    margin-top: 20px;
}

.description+a {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.85rem;
}

.description+a::after {
    content: "";
    width: 100%;
    height: 3px;
    background: rgb(7, 114, 31);
    position: absolute;
    display: block;
    margin-top: 4px;
}

.span1 {
    position: relative;
    display: inline-block;
}

.span1::after {
    content: "";
    width: 100%;
    height: 3px;
    background: rgb(74, 214, 104);
    position: absolute;
    display: block;
    margin-top: -4px;
}

/* Hero Section */
.experience {
    padding-top: 3%;
}

.experience-container p {
    font-size: 0.8rem;
}

.projects {
    margin-top: 4rem;
}

.projects-header h2 {
    font-size: 3rem;
}

.hyperlink a {
    text-transform: uppercase;
    position: relative;
    display: inline-block;
}

.hyperlink a::after {
    content: "";
    width: 100%;
    height: 3px;
    background: rgb(7, 114, 31);
    position: absolute;
    display: block;
    margin-top: 4px;
}

.project-images {
    width: 100%;
    height: auto;
}

.projects {
    margin-bottom: 28px;
}

.d-text {
    margin-top: 15px;
}

/* footer */

.footer {
    background: rgb(51, 51, 51);
    padding: 2% 12%;
}

.contact {
    padding-bottom: 3rem;
    border-bottom: 3px solid #747272;
    margin-bottom: 1rem;
}

.right-col form {
    box-sizing: border-box;
}

form .textfield {
    position: relative;
    margin: 50px 0;
    border-bottom: 2px solid #adadad;
}

.textfield input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    color: #adadad;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.textfield label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.textfield span::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #adadad;
    transition: .5s;
}

.textfield input:focus~label,
.textfield input:valid~label {
    top: -5px;
}

.textfield input:focus~span::before,
.textfield input:valid~span::before {
    width: 100%;
}

.message-btn {
    border: none;
    background: none;
    color: #fff;
    position: relative;
    display: inline-block;
    padding-left: 0;
}

.message-btn::after {
    content: "";
    width: 100%;
    height: 3px;
    background: rgb(7, 114, 31);
    position: absolute;
    display: block;
    margin-top: 4px;
}

.flex-btn {
    display: flex;
    justify-content: end;
    margin-top: -25px;
}

.left-col {
    padding-top: 60px;
}

.left-col h1 {
    font-size: 3.3rem;
}

.left-col p {
    font-size: 0.8rem;
    width: 22rem;
    color: #d3d2d2;
}